<main>
<header>
    <div class="container">
        <a routerLink="/" [ngClass]="[stockStyle]" routerLinkActive="activebutton" class="button logo" (click)="StockSearch()">Stock Search</a>
        <nav>
            <ul>
                <li>
                    <a class="button" [ngClass]="[searchStyle]" routerLink="/header" routerLinkActive="activebutton" (click)="Search()">Search</a>
                </li>
                <li>
                    <a class="button" [ngClass]="[wlStyle]" routerLink="/watchlist" routerLinkActive="activebutton" (click)="Watchlist()">Watchlist</a>
                </li>
                <li>
                    <a class="button" [ngClass]="[pfStyle]" routerLink="/portfolio" routerLinkActive="activebutton" (click)="Portfolio()">Portfolio</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
</main>
<div class="footer-container">Powered by <a href="https://finnhub.io">Finhub.io</a></div>


