[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
werkzeug = "==2.2.3"
requests = "==2.31.0"
python-dateutil = "==2.8.2"

[dev-packages]

[requires]
python_version = "3.11"
