
<form id="stockForm" class="mx-auto" [formGroup]="searchForm"   (ngSubmit)="onSubmit(searchForm.value)">
  <div id="inputWrapper">
    <div class="title-for-form">STOCK SEARCH</div>
  <div class="input-container">
  
    <input type="text" placeholder="Enter stock name" aria-label="Number" matInput [formControl]="tickerInput" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.symbol">
        {{option.symbol}} | {{ option.description }}
      </mat-option>
    </mat-autocomplete>
    <button type="submit" class="search-icon button">
      <i class="bi bi-search"></i>
    </button>
    <button type="button" (click)="clearResults()" class="clear-icon button">
      <i class="bi bi-x"></i>
    </button>
</div>
</div>
<!-- <div *ngIf="stockForm.submitted && tickerInput.invalid" class="alert alert-danger alert-dismissible fade show mb-3"
    role="alert">
    Please enter a valid sticker.
    <button type="button" class="close" aria-label="Close" (click)="clearInvalidTicker()">
      <i class="bi bi-x"></i>
    </button>
  </div> -->
  <div *ngIf="showNoDataMessage" class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
    No data found. Please enter a valid Ticker.
  </div> 
</form>
<router-outlet></router-outlet>




<!-- <form id="stockform" (ngSubmit)="search_results()" method="get" #stockForm="ngForm">
  <div id="inputWrapper">
    <div class="title-for-form">STOCK SEARCH</div>
    <div class="input-container">
      <input matInput type="text" id="stock_ticker" name="stock_ticker" [(ngModel)]="tickerValue" (input)="onInput()" [matAutocomplete]="auto"
        placeholder="Enter Stock Ticker Symbol" required #tickerInput="ngModel" />
      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="autocompleteWidth">
        <mat-option *ngFor="let option of autocompleteOptions" [value]="option.symbol">
          {{ option.symbol }} | {{ option.description }}
        </mat-option>
      </mat-autocomplete>
      <button type="submit" class="search-icon button">
        <i class="bi bi-search"></i>
      </button>
      <button type="button" class="clear-icon button" (click)="clear_results()">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
  <div *ngIf="stockForm.submitted && tickerInput.invalid" class="alert alert-danger alert-dismissible fade show mb-3"
    role="alert">
    Please enter a valid sticker.
    <button type="button" class="close" aria-label="Close" (click)="clearInvalidTicker()">
      <i class="bi bi-x"></i>
    </button>
  </div>
  <div *ngIf="showNoDataMessage" class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
    No data found. Please enter a valid Ticker.
  </div>
</form>  -->