<div class="container">
  <h1 class="heading">My Watchlist</h1>
  <div *ngIf="watchlistData && watchlistData.length > 0; else noDataMessage" class="row">
    <div class="col-md-6" *ngFor="let item of watchlistData">
      <div class="card">
        <button type="button" class="close" aria-label="Close" (click)="removeFromWatchlist(item._id)">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="card-body grid-container">
          <div class="grid-item">
            <h3 class="card-text">{{ item.profile_data.symbol }}</h3>
            <p class="card-title">{{ item.profile_data.company_name }}</p>
          </div>
          <div class="grid-item">
            <p class="card-text">{{ item.quote_data.last_price }}</p>
            <p class="card-text">{{ item.quote_data.change }} ({{ item.quote_data.percent_change }})%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noDataMessage>
  <p>Currently you don't have any stock in your watchlist.</p>
</ng-template>
