/* watchlist.component.css */

.container {
    margin-top: 30px;
  }

  .heading {
    width: 60%; /* 60% of the container width */
    margin: 30px auto; 
  }

  .card {
    margin-bottom: 10px;
  }
  
  .col-md-6 {
    width: 60%; /* 60% of the container width */
    margin: 0 auto; /* Center align the cards */
  }
  
  .card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    padding: 5px;
    text-align: left;
  }
  
  .grid-item p {
    margin: 5px 0;
  }
  
  .left-column,
  .right-column {
    flex: 1;
  }
  
  .left-column p,
  .right-column p {
    margin: 0;
  }

  .stock-message {
    width: 60%; /* 60% of the container width */
    margin: 30px auto; 
    height: 20px;
    background-color: #fef1c9;
    border: 1px solid #ffe6a6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .stock-message p {
    font-size: 12px;
    margin: 0; /* Remove any default margin */
  }

  .close-button {
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.left-colm {
  padding-top: 20px;
}

.card-title {
  margin: 0;
}

.right-colm {
  padding-top: 20px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

  